<style>
.main-post em{
	font-family:'Pacifico', cursive;
	padding-left: 0em;
	font-size: 20px;
}

</style>

<p class="main-post">Welcome to my website, this is my first Django powered website. I am actively developing Java projects
along with learning some web design (largely in Django). My Github link can be found below for my complete
repository which contains all of my projects.<br><br>
I have experience with Java SE, JSP, EJB within the Java langauge, as Java is my first langauge it is the
one I tend to favour, however I am also working on Python as I believe Python is going to really be the next
big langauge.
<br><br>
I also have experience with MySQL, as can be found on my <a href="https://github.com/anontyro/DatabasePractice">Github page</a> 
I have an project in which I have been developing a dynamic POS system using Java Swing. Although Swing is outdated I have previous
experience in it and therefore decided to delve a little deep into design with Swing.


<br><br>
Thanks,
<br>
<em>Alex Wilkinson</em>
</p>