<style>
	.main-post em{
		font-family:'Pacifico', cursive;
		padding-left: 0em;
		font-size: 20px;
	}

</style>
<!-- {% load static %}<img src="{% static 'img/personal/profile.jpg' %}" style="border-color: #f0faf2; "></img> -->
<h2>About</h2>
<hr>
<p class ="main-post">
	I have been learning Java for a few years now starting in 2014 I began to teach myself Java from the book
	<a href="https://www.amazon.com/Intro-Java-Programming-Comprehensive-Version/dp/0133761312/" target="blank">Intro to Java</a>
	which gave me a great base to start learning. After spending some time with the language and found I really enjoyed coding.
	Since then I have spent a lot more time with Java and completed a post-graduate course at Manchester University in Software Development in Java
	which built on my understanding and sparked my curiosity.
	<br>
	<br>
	Since I started Java I have also spend time working on other aspects of Java such as JSP and EJB in the JavaEE framework which has been challenging
	but I feel that I have learnt a great deal from it. Alongside EE I have also worked on Swing to create Java desktop applications.
	<br>
	<br>
	Alongside Java I have worked with Python creating some simple projects and using the Django framework I have developed this very site
	(<a href="https://github.com/anontyro/mysite" target="blank">source code found here</a>). Web development has proven a steep learning curve but I feel I have also learned
	a lot about how to create a functioning responsive modern site. I have learnt more about CSS, HTML5 and Javascript whilst developing my site.
	<br>
	<br>
	I've also worked with several database formats (MySQL and SQLite3) in a few projects that are on my <a href="https://github.com/anontyro" target="<br">GitHub</a> page.
	My time working with these formats has enabled me to learn the query language and although I am not a fan of it, I've found it is quite important providing the backbone
	in many of my projects.
	<br>
	<br>
	All my projects can be found on my GitHub page.

	<br><br>
	Thanks,
	<br>
	<em>Alex Wilkinson</em>
</p>