{% extends "personal/header.html" %}
{% block title %}Blog{% endblock %}


{% block content %}

<style type="text/css">

	.row a{
		color:inherit;
		background-color: inherit;
		text-decoration: none;

	}
	
</style>

<div class="row">
	<div class='col-md-offset-3'>
		<form method='GET' actions=''>
			<div class='col-sm-6'>
				<div class='input-group col-sm-6' >
					<input class='form-control' type='text' name='q' placeholder='Search posts' value='{{request.GET.q}}' placeholder="search" />
					<span class='input-group-btn'>
						<input class="btn btn-default" type = 'submit' value='Search'/>
					</span>
				</div>
			</div>
		</form>
	</div>
</div>

{% for post in blog_list %}


<div class="row" id="blog-container" style="margin-top: 10px;"><a href="/blog/{{post.slug}}" id="contain-link">
	<div class="col-md-6 col-md-offset-3 hvr-float" id="blog-main-container">

		{% if post.draft %}<div class="panel panel-danger">
		{% else %}<div class= "panel panel-success" style="hover{outline:1px solid black;}">
		{%endif%}
		<div class="panel-heading">
			<div class="col-md-8" id="blog-main-container"><h4>{{post.title}}</h4></div> 
			<h6 style="color:black; text-align:right;">Published: {{post.publish}}<br>  by {{user.first_name}} {{user.last_name}} </h6>
		</a>

	</div><!-- blog-container -->

	<div class="panel-body"><a href="/blog/{{post.slug}}" id="body-link">

		<div class="row" id="body_container" style="margin-bottom:10px;">
			<div class="col-sm-3"><img src="{{post.cover_img.url}}" style="height:150px; width:300px;"></img></div>
			<div class="col-md-8" style="float:right;"><div class = "content-markdown"><p>{{post.body| safe|slice:":500"}}...</p>
				{% if post.draft %}<em><h4>Draft</h4></em>{%endif%}

				<br><br>
			</div>

		</div>

	</div>

	<div class="row" id="tools"">
		<div style="float:left" class="col-sm-6" id="last-edit">{% if post.last_modified != null %}<p style="font-size:12px;">Last edited: {{post.last_modified}}</p>{%endif%}</div>
		<div style="float: right;" id="close-but"></a>

			<div class="col-md-6" style="float:right;">
				{% if user.is_authenticated %}
				<form action="{% url 'blog:delete-blog' post.id %}" method ="POST">
					{% csrf_token %}
					<input type="hidden" name="blog_id" value="{{post.id}}"/>
					<button tpye="submit" class="btn btn-default btn-sm">
						<span class="glyphicon glyphicon-trash"></span>
					</button>
				</form>
			</div>

			<div class="col-md-1" style="float:right">
				<form action="{% url 'blog:update-blog' post.slug %}" method ="get">
					{% csrf_token %}
					<input type="hidden" name="blog_id" value="{{post.slug}}"/>
					<button tpye="submit" class="btn btn-default btn-sm">
						<span class="fa fa-pencil-square-o"></span>
					</button>
				</form>

				{% endif %}
			</div>

		</div>

	</div>

</div>

</div>
</div>
</div>



{% endfor %}

{% if is_paginated %}
<div class="container-fluid">
	<div class="row">
		<div class ="col-xs-6 col-md-5"></div>
		<div class ="col-xs-6 col-md-4">
			<div class="pagination" style="float: center;">
				<span class="page-links">
					{% if page_obj.has_previous %}
					<a href="{% url 'blog:blog_list' %}?page={{ page_obj.previous_page_number }}{%if request.GET.q%}&q={{request.GET.q}}{% endif %}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button></a>
					{% endif %}
					<span class="page-current">
						<button type="button" class="btn btn-default">                    
							{% for num in page_obj.paginator.page_range %}
							{% if num == page_obj.number%}
							<span class="current"><b>{{num}}</b></span>
							{%else%}
							<a href="/blog?page={{num}}">{{num}} </a>
							{% endif %}
							{% endfor %}</button>

						</span>
						{% if page_obj.has_next %}
						<a href="{% url 'blog:blog_list' %}?page={{ page_obj.next_page_number }}{%if request.GET.q%}&q={{request.GET.q}}{% endif %}"><button type="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right"></span></button></a>
						{% endif %}
					</span>
				</div>
			</div>
		</div>
	</div>
	{%endif%}
	{% endblock %}
