{% extends "personal/header.html" %}

{% block title %}About{% endblock %}

{% block content %}

<style>
	.main-post em{
		font-family:'Pacifico', cursive;
		padding-left: 0em;
		font-size: 20px;
	}

</style>

<div class = "row">
	<div class="col-md-2"></div>
	<div class = "col-md-8" style="background-color:#f0faf2; overflow: True; border-radius:5px;">
		<div class = "col-mid-8">{% include "personal/includes/mainabout.html" %}
		<hr>
		<a name ="update"></a> {% include "personal/includes/updateBlog.html" %}
		</div>
	</div>
</div>


{%endblock%}